.sidebar {
  width: 15%;
  background-color: #2a2f32;
  color: white;
  overflow-y: auto;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list li {
  padding: 25px;
  border-bottom: 1px solid #474a4d;
}

.contact-list li:hover {
  background-color: #323739;
}
.chat-window {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}
